<teams-progress-bar [label]="label" [description]="alertMessage" [completed]="progressCompleted">
</teams-progress-bar>

<teams-button title="Dynamic Text" (buttonClick)="test($event)" [disabled]="false   ">
</teams-button>

<teams-single-select [optionArray]="arr" [selectedValue]="selectedLanguage"
    (selectedValueEmit)="onDropdownSelection($event)">
</teams-single-select>

<teams-checkbox [label]="label" [isChecked]="isChecked" (onChange)="onCheckChange($event)"></teams-checkbox>

<teams-radio [title]="title" [radio_options]="arr" [selectedValue]="isChecked1" (onChange)="onRadioChange($event)">
</teams-radio>

<teams-loader *ngIf="isLoading"></teams-loader>

<teams-toggle [label]="label" [isChecked]="isChecked" (onChange)="onCheckChange($event)"></teams-toggle>

<teams-alert *ngIf="alertMessage !== '' " [type]='alertType' [alert_message]="alertMessage" (alertClose)="closeAlert()">
</teams-alert>

<teams-confirm-dialog *ngIf="showDialog" [message]="alertMessage" [intervalValue]="dialogInterval"
    (resultResponse)="dialogResponse($event)"> </teams-confirm-dialog>

<teams-tabs-panel [tabs]="tabsList" (selectedTab)="onSelectTab($event)"></teams-tabs-panel>